body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #00649e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
}

.navbar {
  background-color: #87ceeb;
}


.navbar-brand {
  color: #00649e !important;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:#93cef0;
  padding: 2rem;
  border-radius: 5px;
}

.nav-link {
  color: white !important;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #ffe4e1 !important;
}

h1, h3 {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #87ceeb;
  border-radius: 5px;
  background-color: white;
  color: #00649e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

label {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5px;
  color: #00649e;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
select {
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #00649e;
  border-radius: 5px;
}

button {
  font-size: 2rem;
  padding: 10px;
  background-color: #4682b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5f9ea0;
}

.alert {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
}

.table {
  margin-top: 20px;
}

.table th {
  background-color:#00649e;
  color: white;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2rem;
}

.table td {
  background-color: white;
  font-size: 1.2rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e0f7fa;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}